header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 0;
}

.user-photo {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-right: 1.25em;
}

.user-name {
  font-size: 1.25em;
  width: 80%;
}

.btn-logout {
  background-color: transparent;
  border: none;
  color: #f0f7ee;
  cursor: pointer;
  font-size: 1.25em;
  padding: 0;
  text-align: right;
  width: 10%;
}
