.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}
.profile-pic {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-right: 1.25em;
}
.profile-name {
  font-size: 1.25em;
  width: 80%;
}
.logout {
  border: none;
  color: #f0f7ee;
  font-size: 1.25em;
  padding: 0;
  text-align: right;
  width: 10%;
}

.add-todo {
  border-bottom: 2px solid #8cabbe;
  margin-bottom: 3em;
  padding-bottom: 0.75em;
}
.add-todo label {
  display: block;
  font-size: 14px;
  margin-bottom: 0.75em;
}
.add-todo_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}
.add-todo_row input {
  background: transparent;
  border: none;
  color: #f0f7ee;
  font-size: 16px;
  padding: 5px;
  width: 90%;
}
.add-todo_row button {
  background: transparent;
  border: none;
  color: #8cabbe;
  font-size: 20px;
  text-align: right;
  width: 10%;
}
.add-todo_row button:hover {
  color: #f0f7ee;
}

#empty {
  text-align: center;
  padding: 2em 0;
}
#empty p {
  margin-top: 1em;
}
#empty div {
  color: rgb(240, 247, 238);
  font-size: 50px;
}

.list-todo {
  margin: 0.25em 0;
  padding: 1em;
}
.list-todo:nth-child(odd) {
  background: rgba(164, 191, 235, 0.75);
}
.list-todo:nth-child(odd):hover {
  background: rgb(164, 191, 235);
}
.list-todo:nth-child(even) {
  background: rgba(164, 168, 209, 0.75);
}
.list-todo:nth-child(even):hover {
  background: rgb(164, 168, 209);
}

.fadeIn {
  -webkit-animation: fadeIn 2s linear;
  animation: fadeIn 2s linear;
  opacity: 1;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
