h6 {
  font-size: 20px;
  margin-bottom: 3em;
}

.login-btn {
  background-image: linear-gradient(#5c88a3, #537a93);
  border: 1px solid #5c88a3;
  color: #211e26;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin: 1em 0;
  padding: 1em 0;
  width: 100%;
}

.login-btn-social {
  background-color: transparent;
  border: 1px solid #8cabbe;
  color: #8cabbe;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding: 1em 0;
  width: 100%;
}
.login-btn-social:visited,
.login-btn-social:hover {
  background-color: #8cabbe;
  color: #211e26;
}

.login-group input {
  background: rgba(255, 255, 255, 0.6);
  border: none;
  color: #000;
  font-size: 16px;
  margin-bottom: 2em;
  padding: 1em;
  width: 100%;
}
.login-group input:focus {
  background: rgba(255, 255, 255, 1);
}

.login-switch {
  margin-top: 1em;
}
.login-switch a {
  color: #8cabbe;
  text-decoration: none;
}
